[Desktop Entry]
Encoding=UTF-8
Version=0.9
Type=Application
Terminal=false
Name=Resa i Skåne
Exec=/usr/bin/invoker --type=d -s /opt/ResN9/bin/ResN9
Icon=/usr/share/icons/hicolor/80x80/apps/resn9_80x80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
